<%- include('partials/header'); -%>

<header>
  <div>
    <img src="/vault.png" alt="">
  </div>
  <div class="headings">
    <h2>Keep your passwords safe.</h2>
    <h3>Take your passwords anywhere.</h3>
    <a href="/vaults" class="btn">View Passwords</a>
  </div>
</header>


<%- include('partials/footer'); -%>